:root{
    --text: #fee761;
    --text-sub:  #ffffff;
    --box-bg:  #3a4466;
    --box-border: #0099db;
    --bg: #262b44;
     --tilewidth: 256px;
    --tileheight: 256px;
    --borderSize: 1px
}

.pal-lighter{
    --text: #fee761;
    --text-sub:  #ffffff;
    --box-bg:  #3a4466;
    --box-border: #0099db;
    --bg: #262b44;
}

@keyframes scroll{
    from {background-position: 0px 0px;}
    to {background-position: var(--tilewidth) var(--tileheight);}
}

body{
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    /*background-color: var(--bg);*/
    background-image: url("res/tile2.png");
    background-attachment: fixed;
    background-repeat: repeat;
    animation: scroll 8s infinite;
    animation-timing-function: linear;
    transform: scale(90%);
}

.lav-container{
    max-width: 750px;
}

.lav-container-wide{
    max-width: calc((750px / 9) * 12)
}

.lav-base{
    display:flex;
    flex-direction: column;
}

.lav-start{
    flex:1;
}

.lav-box{
    color: var(--text);
    background-color: var(--box-bg); 
    border: var(--borderSize) solid var(--box-border);
    padding: 5px;
    font-family: 'Overpass Mono', monospace;
    font-size: 18px;
    width:100%;
    margin-bottom: 50px;
}

.lav-body{
    font-size:14px;
    color: var(--text-sub)
}

img{
    border: 2px solid var(--box-border);
}

a{
    color: var(--text)
}

b{
    font-weight: 700;
}

.seperator{
    height: 75px;
    width: 100%;
}

th{
    padding: 5px;
}

td{
    padding: 5px;
}